
draft.txt



/Analysez des données de systèmes éducatifs/data/EdStatsData.csv



/Projet 6 - Implémentation d'un modèle de scoring/P7_02_dossier_code_112022/.ipynb_checkpoints

/Projet 6 - Implémentation d'un modèle de scoring/P7_02_dossier_code_112022/data

Projet 6 - Implémentation d'un modèle de scoring/P7_02_dossier_code_112022/mlruns

